@page "/Laser/{Id}"
@using AlsetSoft.CoolFlow.BlazorConcept.Web.Components
@rendermode InteractiveServer

<PageTitle>Лазерний датчик @Id</PageTitle>

    <div class="div-block-6">
        <ChartFirstComponent Fullness="@Fullness" UnFullness="@UnFullness" />
        <ChartSecondComponent Fullness="@Fullness1" UnFullness="@UnFullness1" Title="Перша секція" Description="Моршинська 0.33л / 0.5л" />
        <ChartSecondComponent Fullness="@Fullness2" UnFullness="@UnFullness2" Title="Друга секція" Description="Моршинська 0.5л / 0.75л" />
    </div>
    